

<h2>Home Product List</h2>
{{#each response}}
<h3>Title: {{title}}</h3>
<p>ID: {{id}}</p>
<p>Description: {{description}}</p>
<p>Price: {{price}}</p>
<p>Code: {{code}}</p>
<p>Stock: {{stock}}</p>
<p>Category: {{category}}</p>
{{/each}}

{{!-- aca van las propiedades sin response.title, etc, va title solo porquie stoy en un forecha
recorriendo el response --}}